.main_frise{
    box-sizing: border-box;
}
.timeline{
    position: relative;
    background-image: url("../../../public/img/background_timeline.webp");
    background-size: cover;
    background-size: 100% , 1000px;
}
.timeline h6{
    font-family: var(--font-syne);
    font-size: 1rem;
    margin: 5px;
    text-align: center;
}

.timeline-item::before{
    content: '';
    position: absolute;
    background-color: black;
    width: 3px; 
    height: 350px;      
    left: 20%;
}

.timeline-item_first::before{
    content: '';
    position: absolute;
    background-color: black;
    width: 3px; 
    height: 275px; 
    top: 37px;     
    left: 20%;
}
.timeline-item:last-child:before{
    content: '';
    position: absolute;
    background-color: black;
    width: 3px; 
    height: 103px;      
    left: 20%;
}
.timeline-item{
    display: inline-block;
    margin-bottom: 64px;
}
.timeline-item:first-child {
    margin-top: 64px;
}
.timeline-item-details-marker{
    position: relative;
    z-index: 10;
    border-radius: 50%;
    background-color: #FBE2D0;
    width: 16px;
    height: 16px;
    border: 3px solid #000;
    margin-left: -5%;
    left: 84px;
    top:40px;
}
.timeline-item-details-description{
    padding: 16px;
    background-color:var(--primary1);
    border-radius: 20px;
    margin-left: 50%;
    margin-top: 3%;
    mar


}
.timeline-item-details-description::before{
    content:'';
    position: absolute;
    background-color: #000;
    width: 112px;
    height: 3px;
    left: 70px;
}
.page_expo_frise_conteneur-img{
    width: 100%;
}
.timeline-line{
    position: absolute;
    width: 50px;
    height: 80%;
    object-fit: cover;
    border-radius: 45px;
    left: 52px;
    top: 42px;
}
.page_expo_frise__conteneur-titre{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}