.no_link_page_footer{
    text-decoration: none;
    color: var(--white1);
}
.no_link_page{
    text-decoration: none;
    color: var(--black);
}
.whitebox{
    background-color: #FFFFFF;
    border-radius: 30px;
}
.img_fill{
    object-fit: fill;
}

.text-align{
    text-align: center;
}
.line_break{
    display: block;
    margin-left: auto;
    margin-right: auto;
    content:"";
    background-color: var(--grey1);
    width: 90%;
    height: 2px;
    left: 0;
    transition: all 0.75s;
}