.accueil{
    height: 855px
}
.accueil__img{
    width: 100%;
}
.accueil__button{
    display: flex;
    bottom: 250px;
    justify-content: center;
    position: relative;
    
}
.accueil__button-text{
    border: none;
    background-color: var(--secondary1);
    width: 280px;
    height: 55px;
    border-radius: 45px;
}
.expo{
    margin-top: 3%;
    position: relative; 
    display: flex; 
    justify-content: flex-end;
}
.expo__text{
    position: absolute; 
    left: 30px;
    top: 0;
    width: 45%;
    text-align: end;
}
.expo__img{
    padding: 10px;
}  
.expo__button{
    position: absolute; 
    left: 15px;
    bottom: 10%;
}
.expo__button-text{
    border: none;
    background-color: var(--secondary1);
    width: 170px;
    height: 50px;
    border-radius: 45px;
}

#section1{
    margin: 0;
    padding: 0;
    border: 0;
}
.billeterie{
    display: flex;
    margin-top: -10px;
    background-image: url("../../../public/img/background_billeterie.webp");
    background-size:cover;
    height: 560px;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.billeterie__boite{
    display: flex;
    flex-direction: column;
    background-color: var(--primary1);
    display: flex;
    border-radius: 20px;
    margin: 20px;
}
.billeterie__boite-titre{
    margin-left: 20px;
    margin-bottom: 15px;
}
.billetertie__boite-text{
    margin-left: 20px;
    margin-top: 0;
}

.billeterie__button{
    display: flex;
    bottom: -60px;
    justify-content: center;
    z-index: 3;
    position: relative;
}
.billeterie__button-text{
    border: none;
    background-color: var(--secondary1);
    width: 170px;
    height: 50px;
    border-radius: 45px;
}
.artsandcraft{

}
.artsandcraft__titre{
    margin-left: 10px;
}
.artsandcraft__text{
    margin-left: 10px;
    width: 86%;
}
.artsandcraft__button{
    display: flex;
    margin-left: 10px;
    z-index: 3;
    position: relative;
}
.artsandcraft__button-text{
    border: none;
    background-color: var(--secondary1);
    width: 170px;
    height: 50px;
    border-radius: 45px;
}
.artsandcraft__line{
    position: absolute;
    right: 3%;
    top: 200%;
    z-index: -2;
}
.artistes{
    background-image: url("../../../public/img/background_art_craft.webp");
    background-size:cover;
    height: 400px;
    padding-top: 15px;
    margin-top: 20px;
}
.artistes__boite{
    display: flex;
    flex-direction: column;
    background-color: var(--primary1);
    display: flex;
    border-radius: 20px;
    margin: 30px;
}
.artistes__boite-titre{
    margin-left: 20px;
    margin-bottom: 15px;
}
.artistes__boite-text{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 0;
}
.artistes__img{

}
.artistes__button{
    display: flex;
    bottom: -60px;
    justify-content: center;
    z-index: 3;
    position: relative;
}
.artistes__button-text{
    border: none;
    background-color: var(--secondary1);
    width: 170px;
    height: 50px;
    border-radius: 45px;
}

.oeuvres {
    margin-top: 3%;
    display: flex; 
    justify-content: space-between ;
    margin-bottom: 20px;
}
.oeuvres__titres{

}
.oeuvres__text{
    margin-top: 0;
    text-align: start;
    padding-left: 5px;
}

.oeuvres__img{
    padding: 10px;
}
.oeuvres__button-text{
    border: none;
    background-color: var(--secondary1);
    width: 170px;
    height: 50px;
    border-radius: 45px;
}
.ouevres__flex{
    margin-left: 10px;
    display: flex;
    flex-direction: column;

}
.page_expo_titre{
  background-image: url("../../../public/img/background_titre.webp");
  background-size:cover;
  height: 80px;
}
.page_expo_titre__boite{
   display: flex;
   justify-content: center;
}
.page_expo_titre__boite-text{
    border: none;
    background-color: var(--primary1);
    width: 80%;
    height: 30px;
    border-radius: 45px;
    border: #000 solid 1px;
    text-align: center;
    font-family: var(--fontreleway);
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    padding-top: 5px;    
}
.page_expo_text{
    margin: 5%;
    width: 86%;
}
.page_expo{
    background-image: url("../../../public/img/background_expo.webp");
    background-size:cover;
    height: 500px;
    padding-top: 15px;
    margin-top: 20px;
}
.page_expo__boite{
    display: flex;
    flex-direction: column;
    background-color: var(--primary1);
    display: flex;
    border-radius: 20px;
    margin: 30px;
}
.page_expo__boite-titre{
    margin-left: 20px;
    margin-bottom: 15px;
}
.page_expo__boite-text{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 0;
}


.expo_tarif__titre{
    margin-top: 0;
    text-align: start;
    margin-top: 20px;
    margin-left: 20px;
}
.expo_tarif__texte{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 0;
}
.expo_tarif_titre5{
    font-family: var(--fontdisplay);
    font-weight: 500;
    font-size: 1.16rem;
    margin-left: 20px;
    margin-bottom: 15px;
}
.expo_tarif__texte{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 0;
}
.expo_tarif__button{
    display: flex;
    justify-content: center;
    z-index: 3;
    position: relative;
}
.expo_tarif__button-text{
    border: none;
    background-color: var(--secondary1);
    width: 170px;
    height: 50px;
    border-radius: 45px;
}
.expo_tarif__list-text{
    font-family: var(--fontreleway);
    font-weight: 300;
    font-size: 1.125rem;
}

.page_billeterie_titre{
    background-image: url("../../../public/img/background_titre.webp");
    background-size:cover;
    height: 80px;
  }
.page_billeterie__boite{
     display: flex;
     justify-content: center;
  }
  .page_billeterie_boite-text{
      border: none;
      background-color: var(--primary1);
      width: 80%;
      height: 30px;
      border-radius: 45px;
      border: #000 solid 1px;
      text-align: center;
      font-family: var(--fontreleway);
      font-weight: 600;
      font-style: normal;
      font-size: 1.5rem;
      padding-top: 5px;    
}
.page_billeterie_texte{
    margin: 5%;
    width: 86%;
}

.page_billeterie__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-image: url("../../../public/img/background_button_billeterie.webp");
}
.page_billeterie__button-text{
    border: none;
    background-color: var(--secondary1);
    width: 170px;
    height: 50px;
    border-radius: 45px;
}
.page_billeterie__endtext{
    text-align: center;
}

.page_artcraft_titre{
    background-image: url("../../../public/img/background_titre.webp");
    background-size:cover;
    height: 80px;
}
.page_artcraft_titre__boite{
    display: flex;
    justify-content: center;
}
.page_artcraft_titre__boite-text{
    border: none;
    background-color: var(--primary1);
    width: 90%;
    height: 30px;
    border-radius: 45px;
    border: #000 solid 1px;
    text-align: center;
    font-family: var(--fontreleway);
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    padding-top: 5px;    
}
.page_artcraft_text{
    margin: 5%;
    width: 86%;
}
.page_artcraft{
    background-image: url("../../../public/img/background_art_craft.webp");
    background-size:cover;
    height: 3px;
    padding-top: 15px;
    margin-top: 20px;
    height: 330px;
    margin-bottom: 10%;
}
.page_artcraft__boite{
    display: flex;
    flex-direction: column;
    background-color: var(--primary1);
    display: flex;
    border-radius: 20px;
    margin: 30px;
    padding-top: 15px;
}
.page_artcraft__boite-titre{
    margin-top: 20px;
    margin-left: 20px;
}
.page_artcraft__boite-titre{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 0;
}
.page_artistes_titre{
    background-image: url("../../../public/img/background_titre.webp");
    background-size:cover;
    height: 80px;
}
.page_artistes__boite{
    display: flex;
    justify-content: center;
}
.page_artistes__boite-text{
    border: none;
    background-color: var(--primary1);
    width: 90%;
    height: 30px;
    border-radius: 45px;
    border: #000 solid 1px;
    text-align: center;
    font-family: var(--fontreleway);
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    padding-top: 5px;    
}
.page_artistes_text{
    margin: 5%;
    width: 86%;
    text-align: center;
}

.page_artistes__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.page_artistes__button-text{
    border: none;
    background-color: var(--secondary1);
    width: 170px;
    height: 50px;
    border-radius: 45px;
}

.page_oeuvre_titre{
    background-image: url("../../../public/img/background_titre.webp");
    background-size:cover;
    height: 80px;
}
.page_oeuvre__boite{
    display: flex;
    justify-content: center;
}
.page_oeuvre__boite-text{
    border: none;
    background-color: var(--primary1);
    width: 90%;
    height: 30px;
    border-radius: 45px;
    border: #000 solid 1px;
    text-align: center;
    font-family: var(--fontreleway);
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    padding-top: 5px;    
}
.page_oeuvre_text{
    margin: 5%;
    width: 86%;
    text-align: center;
}
.titre_no_margin{
    margin-bottom: -5%;
}
.page_oeuvre_titre_img{
    text-align: center;
    font-family: var(--fontdisplay);
    font-weight: 500;
    font-size: 1.1rem;
}
.page_ouevre_indi{
    background-image: url("../../../public/img/background_page_oeuvre.webp");
    background-size:cover;
    height: 3px;
    padding-top: 15px;
    margin-top: 20px;
    height: 570px;
    margin-bottom: 10%;
}
.page_ouevre_indi__boite{
    display: flex;
    flex-direction: column;
    background-color: var(--primary1);
    display: flex;
    border-radius: 20px;
    margin: 30px;
    padding-top: 15px;

}
.page_ouevre_indi__boite-titre{
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 10px;
}
.oeuvre_art__img{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
.page_ouevre_indi_beaver{
    background-image: url("../../../public/img/background_page_oeuvre.webp");
    background-size:cover;
    height: 3px;
    padding-top: 15px;
    margin-top: 20px;
    height: 400px;
    margin-bottom: 10%;
}
.page_ouevre_indi_house{
    background-image: url("../../../public/img/background_page_oeuvre.webp");
    background-size:cover;
    height: 3px;
    padding-top: 15px;
    margin-top: 20px;
    height: 670px;
    margin-bottom: 10%;
}
.page_ouevre_indi_geoffrey{
    background-image: url("../../../public/img/background_page_oeuvre.webp");
    background-size:cover;
    height: 3px;
    padding-top: 15px;
    margin-top: 20px;
    height: 670px;
    margin-bottom: 10%;  
}
.page_oeuvre_titre_geo{
    background-image: url("../../../public/img/background_titre.webp");
    background-size:cover;
    height: 120 px;
}
.page_oeuvre__boite_geo{
    display: flex;
    justify-content: center;
}
.page_oeuvre__boite-text_geo{
    border: none;
    background-color: var(--primary1);
    width: 90%;
    height: 58px;
    border-radius: 45px;
    border: #000 solid 1px;
    text-align: center;
    font-family: var(--fontreleway);
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    padding-top: 5px;    
}
.page_ouevre_indi_lampe{
    background-image: url("../../../public/img/background_page_oeuvre.webp");
    background-size:cover;
    height: 3px;
    padding-top: 15px;
    margin-top: 20px;
    height: 670px;
    margin-bottom: 10%;  
}
.page_a_propos_titre{
    background-image: url("../../../public/img/background_formulaire.webp");
    background-size:cover;
    height: 500px;
}
.page_a_propos__boite{
    display: flex;
    justify-content: center;

}
.page_a_propos__boite-text{
    border: none;
    background-color: var(--primary1);
    width: 80%;
    height: 30px;
    border-radius: 45px;
    border: #000 solid 1px;
    text-align: center;
    font-family: var(--fontreleway);
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    padding-top: 5px;    
}
.form__button {
    display: flex;
    justify-content: center;
    position: relative;
}
